*{
    font-family: manrope;
    margin: 0;
}
@font-face {
    font-family: "Manrope";
    src:
      local("Manrope"),
      url("manrope-extrabold.otf")
}
body{
    background-color: #F1F3F4;
}
header{
    font-weight: bolder;
    margin: 10px 5px 80px 1px;
    display: flex;
    align-items: center;
}
logo{
    padding-left: 80px;
}
logo img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
nav{
    font-size: 17px;
    flex: 1;
    text-align: right;
    padding-right: 50px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    position:relative;
    text-align: center;
}
a{
    text-decoration: none;
    color:coral;
}
nav ul li a:hover {
    border-bottom: 3px solid coral;
}
nav ul li a h3:hover {
    border-bottom: 3px solid coral;
}
ul li a.SignUp{
    padding: 10px;
    color: azure;
    background: coral;
    border: 1px solid coral;
    border-radius: 50px;
}
.toggle img{
    display: none;
}
.menu-items{
    display: none;
}
.toggle-parent{
    display:none;
    flex-direction: column;
    
}

header{
    display:flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    nav{
        display: none;
    }

    /* .drop{
        display:block;
    } */
     .toggle-parent{
        display:flex;
        /* border:2px solid red; */
     }
 
    .toggle img{
        position: absolute;
        right: 50px;
        display: block;
        cursor: pointer;
    }
    /* .drop{
        position: absolute;
        right: 50px;
        top: 5px;
        height: 0;
        background: rgb(255, 255, 255,0.1);
        overflow: hidden;
    } */
    /* .drop.open{
        height: 240px;
    } */
    /* .drop li{

        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: c;
    } */
    logo{
        padding-left: 50px;
        padding-top: 10px;
    }
}
main{
    display: grid;
    justify-content: center;
    margin: 50px;
}
form{
    display: grid;
    justify-content: center;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    padding: 50px;
}
form h2{
    padding-bottom: 15px;
    text-align: center;
    color: coral;
    font-weight: bolder;
}
form input, p, a{
    width: 100%;
    padding-bottom: 8px;
}
form .gree{
    display: flex;
    margin-bottom: 10px;
}
form .gree input{
    width: 12px;
    margin-right: 5px;
}
button{
    font-size: 15px;
    padding: 5px;
    width: 100%;
    border: 1px solid coral;
    border-radius: 3px;
    background: coral;
    color: white;
}
.footer{
text-align: center;
padding: 1rem 0;
background-color: #4682b4; /* Steel blue */
color: #fff;
width: 100%;
margin-top: 150px;
}
.footer img{
display: inline;
width: 20px;
height: 20px;
margin: 2px 2px;
}